<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>ICE Lotto</title>

  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="bootstrap.min.css" />
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}" href="bootstrap-theme.min.css" />
  <link rel="stylesheet" th:href="@{/local/css/style.css}" href="style.css" />

  <!--/* Loading these in the head because they are required for any other script. */-->
  <script th:src="@{/jquery/jquery.min.js}" src="jquery.min.js"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="bootstrap.min.js"></script>
</head>
<body>
  <!--/* Site header/navbar */-->
  <div th:replace="fragments/navMenu :: content" th:remove="tag"></div>

  <!--/* Main content */-->
  <!-- Thanks IE11 for not supporting the "main" element. -->
  <section class="main-content container">
    <!--/* TODO: add detection for being logged in */-->
    <div th:replace="views/__${view}__ :: content" th:remove="tag"></div>
  </section>

  <!--/* Site footer/navbar */-->
  <div th:replace="fragments/siteFooter :: content" th:remove="tag"></div>

  <!--/* Sitewide scripts */-->
  <script th:src="@{/stompjs/stomp.min.js}" src="stomp.min.js"></script>
  <script th:src="@{/sockjs/sockjs.min.js}" src="sockjs.min.js"></script>
  <script th:src="@{/local/js/socketManager.js}" src="socketManager.js"></script>

  <!--/* TODO: make sure this is only loaded for admin users */-->
  <script th:src="@{/local/js/adminSocket.js}" src="adminSocket.js"></script>
</body>
</html>