<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>ICE Lotto</title>

  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="bootstrap.min.css" />
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}" href="bootstrap-theme.min.css" />
  <link rel="stylesheet" th:href="@{/local/css/style.css}" href="style.css" />
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">

      <header class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#header-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Ice Lotto</a>
      </header>

      <div class="collapse navbar-collapse" id="header-nav">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">foo</a></li>
          <li><a href="#">bar</a></li>
          <li><a href="#">foobar</a> </li>
        </ul>
      </div>

    </div>
  </nav>

  <!-- Thanks IE11 for not supporting the "main" element. -->
  <div class="main-content container">

    <div class="prize-pool panel panel-default" data-pool-id="0">
      <header class="panel-heading">
        <h4 class="panel-title">Prize Pool</h4>
      </header>

      <table class="table">
        <thead class="prize-pool-admin-header">
          <tr>
            <th><a href="#" class="btn btn-default">Draw 1</a></th>
            <th><a href="#" class="btn btn-default">Draw 2</a></th>
            <th><a href="#" class="btn btn-default">Draw 3</a></th>
            <th><a href="#" class="btn btn-default">Draw 4</a></th>
            <th><a href="#" class="btn btn-default">Draw 5</a></th>
            <th><a href="#" class="btn btn-default">Draw 6</a></th>
            <th><a href="#" class="btn btn-default">Draw 7</a></th>
            <th><a href="#" class="btn btn-default">Draw 8</a></th>
            <th><a href="#" class="btn btn-default">Draw 9</a></th>
            <th><a href="#" class="btn btn-default">Draw 10</a></th>
          </tr>
        </thead>

        <tbody>
          <tr class="prize-pool-tier-row" data-tier-id="0">
            <td>
              <div th:replace="item::fragment(${prizeItem})"></div>
            </td>
            <td>
              <div th:replace="item::fragment(${prizeItem})"></div>
            </td>
            <td colspan="8">
              <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#addItemModal">Add</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div id="addItemModal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <header class="modal-header">
          <a class="close" data-dismiss="modal" role="button">&times;</a>
          <h4 class="modal-title">Add Item</h4>
        </header>

        <div class="modal-body">
          <p class="input-group">
            <input id="itemSearchBox"
                   type="search"
                   class="form-control"
                   placeholder="Enter an item name or chat link (e.g. '[&amp;AgHidwAA]') " />
            <i class="input-group-addon no-background"><span class="invisible">@</span></i>
          </p>
          <p id="itemSearchResultWell" class="well collapse"></p>
        </div>

        <footer class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal" role="button">Cancel</a>
          <a class="btn btn-primary disabled" role="button">Add</a>
        </footer>

      </div>
    </div>
  </div>

  <template id="itemSearchResultTemplate">
    <div class="media search-result">
      <span class="pull-left"><img class="media-object img-sm" src="" /></span>
      <div class="media-body">
        <h4 class="media-heading"></h4>
        <dl class="dl-horizontal"></dl>
      </div>
    </div>
  </template>

  <script th:src="@{/jquery/jquery.min.js}" src="jquery.min.js"></script>
  <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="bootstrap.min.js"></script>

  <script th:src="@{/spinjs/spin.min.js}" defer="defer"></script>
  <script th:src="@{/spinjs/jquery.spin.js}" defer="defer"></script>
  <script th:src="@{/local/js/itemSearch.js}" defer="defer"></script>
</body>
</html>