<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title></title>
</head>
<body>

<div th:fragment="content">
  <th:block th:if="${not #bools.isTrue(claimSuccess) and not #bools.isTrue(setPassSuccess)}">
    <form class="form-signin" role="form" th:action="@{/claim}" method="post">
      <h2 class="form-signin-heading">Claim Account</h2>

      <input class="form-control username-field" placeholder="GW2 Display Name (e.g. 'Foo.1234')" name="gw2DisplayName" required="required" autofocus="autofocus" />
      <input class="form-control password-field" placeholder="Claim Key" name="claimKey" required="required" autocomplete="off" />
      <button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Claiming...">Claim</button>
    </form>

    <script>
      $("form").on("submit", function() {
        $("button[type=submit]").button("loading");
      })
    </script>

    <div th:if="${claimError != null}">
      <div class="alert alert-danger alert-dismissable login-alert">
        <button type="button" class="btn close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Error :</strong>
        <span th:text="${claimErrorMessage}">Oops</span>
      </div>
    </div>
  </th:block>

  <th:block th:if="${#bools.isTrue(claimSuccess) and not #bools.isTrue(setPassSuccess)}">
    <form class="form-signin" role="form" th:action="@{/claim/set/password}" method="post">
      <h2 class="form-signin-heading">Create Password</h2>

      <input id="password" type="password" class="form-control username-field" placeholder="Password" name="password" required="required" autofocus="autofocus" />
      <input id="passwordVerify" type="password" class="form-control password-field" placeholder="Verify" name="passwordVerify" required="required" />
      <div id="strength" class="hidden"></div>
      <input type="hidden" name="user" th:value="${claimUsername}" />
      <button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Creating...">Create</button>

      <div th:if="${setPassErrorMessage != null}">
        <div class="alert alert-danger alert-dismissable login-alert">
          <button type="button" class="btn close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Error :</strong>
          <span th:text="${setPassErrorMessage}">Oops</span>
        </div>
      </div>

      <script th:src="@{/bootstrap-pwstrength/zxcvbn.js}" src="zxcvbn.js"></script>
      <script th:src="@{/bootstrap-pwstrength/pwstrength-bootstrap.min.js}" src="pwstrength-bootstrap.min.js"></script>
      <script>
        /*<![CDATA[*/
        $(function() {
          var $strength = $("#strength"),
              $password = $("#password"),
              $passwordVerify = $("#passwordVerify"),
              $form = $(".form-signin"),
              $submitBtn = $("button[type=submit]", $form);

          $password.pwstrength({
            common: {
              zxcvbn: true,
              onKeyUp: function(evt) {
                if ($password.val().length != 0) {
                  if ($strength.hasClass("hidden")) {
                    $strength.removeClass("hidden");
                  }
                } else {
                  $strength.addClass("hidden");
                }
              }
            },
            ui: {
              container: ".form-signin",
              viewports: {
                progress: $strength,
                verdict: $strength,
                errors: $strength
              }
            }
          });

          $form.on("submit", function(evt) {
            $submitBtn.button("loading");

            if ($password.val().length < 8) {
              BootstrapDialog.show({
                type: BootstrapDialog.TYPE_DANGER,
                title: "Invalid password",
                message: "Password must be at least 8 characters.",
                buttons: [{
                  label: "Okay",
                  action: function(d) {d.close();}
                }]
              });
              evt.preventDefault();
              $submitBtn.button("reset");
              return;
            }

            if ($password.val() !== $passwordVerify.val()) {
              BootstrapDialog.show({
                type: BootstrapDialog.TYPE_DANGER,
                title: "Password mismatch",
                message: "Passwords do not match.",
                buttons: [{
                  label: "Okay",
                  action: function(d) {d.close();}
                }]
              });
              evt.preventDefault();
              $submitBtn.button("reset");
              return;
            }
          });
        });
        /*]]>*/
      </script>
    </form>
  </th:block>

  <th:block th:if="${#bools.isTrue(setPassSuccess)}">
    <p class="text-center">
      Password set. You may now <a th:href="@{/login}">login</a> using "<strong th:text="${username}">username</strong>"
      as your username with the password you just set.
    </p>
  </th:block>

</div>

</body>
</html>