<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title></title>
</head>
<body>

<div class="container" th:fragment="content">
  <div th:if="${#lists.size(drawingsList) == 0}" th:remove="tag">
    <p>There are no drawings available. Select a date and time to create one.</p>
    <div th:replace="fragments/admin/addDrawingForm :: content"></div>
  </div>

  <div th:if="${#lists.size(drawingsList) > 0}" class="table-responsive">
    <!--/* TODO: enable ordering and searching */-->
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <td>Scheduled</td>
          <td>Held</td>
          <td>Small Pool</td>
          <td>Large Pool</td>
          <td colspan="4"></td>
        </tr>
      </thead>

      <tbody>
        <!--/* TODO: add links to drawings and pools */-->
        <!--/* TODO: add support for formating JSR-310 dates (new dialect?) */-->
        <tr th:each="drawing: ${drawingsList}" data:drawing-id="${drawing.id}">
          <td th:text="${drawing.scheduled}">Not Set</td>
          <td th:text="${drawing.held} ?: 'Not Yet Held'">Not Set</td>
          <td th:text="${drawing.smallPool} ? ${drawing.smallPool.id}">Not Set</td>
          <td th:text="${drawing.largePool} ? ${drawing.largePool.id}">Not Set</td>
          <td class="text-center" colspan="4">
            <div class="btn-group">
              <a th:if="${drawing.held == null}" class="btn btn-default btn-xs" th:href="@{/drawing/__${drawing.id}__}">Edit</a>
              <a th:if="${drawing.held != null}" class="btn btn-default btn-xs">Duplicate</a>
              <a class="btn btn-default btn-xs">Delete</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="panel panel-info">
      <header class="panel-heading">
        <a href="#help" class="panel-title" data-toggle="collapse">Help</a>
      </header>
      <div id="help" class="panel-collapse collapse">
        <ul class="list-unstyled panel-body">
          <li>The <kbd>Edit</kbd> button is used to open the drawing editor.</li>
          <li>The <kbd>Duplicate</kbd> button is used to copy a drawing to a new one.</li>
          <li>The <kbd>Delete</kbd> button is used to delete a drawing.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>