.clickable {
  cursor: pointer;
}

.img-sm {
  height: 32px;
  width: 32px;
}

.no-background {
  background-color: transparent;
}

.no-border {
  border: 0;
}

.prize-pool {
  /*border: 1px solid #000000;
  border-collapse: collapse;*/
}

.prize-pool > .row {
  /*margin-top: 10px;*/
}

.search-result {
  cursor: pointer;
  padding: 8px;
}