<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div th:fragment="fragment (prizeItem)" th:remove="tag">
    <div th:if="${prizeItem}" class="text-center prize-item">
      <i data:id="${prizeItem.gameItem.id}"
         data:name="${prizeItem.gameItem.name}"
         data:description="${prizeItem.gameItem.description}"
         data:count="${prizeItem.count}"
         data:level="${prizeItem.gameItem.minLevel}"
         data:rarity="${prizeItem.gameItem.rarity}"></i>
      <img class="img-resopnsive gw-item-icon clickable" th:src="@{/store/icons/__${prizeItem.gameItem.id}__.png}" src="gw2-icons/2495-lg.png" />
      <br />
      <span class="badge" th:text="${prizeItem.count}" th:if="${prizeItem.count > 1}">1</span>
      <!--/* TODO: position the badge over the icon as it is in-game */-->
    </div>

    <!--/* TODO: create a missing item icon */-->
    <div th:if="${prizeItem == null}" class="text-center">
      <img class="img-responsive gw-item-icon" src="missing-item-icon.png" />
    </div>
  </div>
</body>
</html>