<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title></title>
</head>
<body>

<div th:fragment="fragment (size, pool, entriesTotal)">
  <div class="prize-pool panel panel-default" data:pool-id="${pool} ? ${pool.id} : -1" th:classappend="${(size == 'small') ? 'small-pool' : 'large-pool'}">
    <header class="panel-heading clearfix">
      <h4 class="panel-title pull-left" th:text="${(size == 'small') ? 'Small Pool' : 'Large Pool'}">Prize Pool</h4>
      <div class="pull-right">
        <!--/* TODO: add interface for admin */-->
        <a class="btn btn-primary btn-xs money-draw-btn" th:classappend="${!drawing.inProgress} ? 'disabled hidden'">Draw</a>
        <span th:text="${entriesTotal}" th:id="__${size}__PoolPot" class="pool-pot">0</span>
        <img th:src="@{/local/images/gold.png}" src="gold.png" />
      </div>
    </header>

    <div th:if="${pool == null}">
      <h4>No pool is defined. (add pool btn)</h4>
    </div>

    <table class="table" th:if="${pool != null}">
      <!--/* TODO: add detection for admin and drawing having been started */-->
      <tbody>
        <th:block th:each="i: ${#numbers.sequence(1, 10)}">
        <!--/* Loop through each tier and each item in that tier */-->

          <tr class="prize-pool-tier-row" data:tier-id="${pool.tier__${i}__.id}" data:entrants="${#lists.size(pool.tier__${i}__.entries)}">
            <td>
              <!--/* TODO: admin only */-->
              <!--/* TODO: disable button if drawing in progress and tier has been drawn */-->
              <a class="btn btn-primary draw-btn"
                 th:classappend="${!drawing.inProgress} ? 'disabled invisible'"
                 th:if="${#lists.size(pool.tier__${i}__.entries) != 0}"
              >Draw</a>
            </td>

            <td th:each="j: ${#numbers.sequence(1, 10)}" th:object="${pool.tier__${i}__}" data:position="${j}">
              <!--/* There's no item in the current position in this tier so put an add button */-->
              <div th:if="*{(item__${j}__ == null)  and __${!drawing.inProgress and drawing.held == null}__}" class="text-center">
                <button class="btn btn-default btn-sm add-item-btn">
                  Add
                </button>
              </div>

              <!--/* Add the item to the row using the item template */-->
              <div th:if="*{item__${j}__ != null}">
                <div th:replace="fragments/item::fragment(*{item__${j}__})"></div>
              </div>
            </td>
          </tr>

          <!--/* Add a "winner" row if there is a drawing result associated with the tier */-->
          <tr th:if="${pool.tier__${i}__.prizeDrawResult != null}" class="success text-center winner-row">
            <td data:item-position="${pool.tier__${i}__.prizeDrawResult.itemDrawNumber}"
                th:colspan="11"
                style="padding-bottom: 0; padding-top: 0;"
            > <!--/* TODO: detect if the user is an admin or not for the correct cols */-->
              <small>
                Winner: <strong class="winner-name" th:text="${pool.tier__${i}__.prizeDrawResult.user.displayName}">Foo Bar</strong>
                &nbsp;&Lt;&Gt;&nbsp;
                Item: <a class="item-won-link"
                         target="_blank"
                         th:href="'http://www.gw2spidy.com/item/' + ${pool.tier__${i}__.item__${i}__.gameItem.id}"
                         th:text="${pool.tier__${i}__.item__${i}__.gameItem.name}"
                      >http://example.com/</a>
              </small>
            </td>
          </tr>

        </th:block>
      </tbody>
    </table>

    <script>
      $(function() {
        var $addItemModal = $("#addItemModal");

        $(".add-item-btn").on("click", function() {
          var $this = $(this),
              position = $this.closest("td").attr("data-position"),
              tierId = $this.closest("tr").attr("data-tier-id"),
              poolId = $this.closest(".prize-pool").attr("data-pool-id");

          $addItemModal.data({
            position: position,
            tierId: tierId,
            poolId: poolId
          }).modal({
            backdrop: "static",
            show: true
          });
        });

        // Highlight any won items
        $(".winner-row").each(function() {
          var $this = $(this),
              $prevRow = $this.prev();

          $($('.gw-item-icon', $prevRow)[$("td", $this).data("itemPosition") - 1])
            .addClass("tier-won-item");
        });
      });
    </script>
  </div>
</div>

</body>
</html>