<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title></title>
</head>
<body>

<div th:fragment="fragment (size, pool, entriesTotal)">
  <div class="prize-pool panel panel-default" data:pool-id="${pool} ? ${pool.id} : -1" th:classappend="${(size == 'small') ? 'small-pool' : 'large-pool'}">
    <header class="panel-heading clearfix">
      <h4 class="panel-title pull-left" th:text="${(size == 'small') ? 'Small Pool' : 'Large Pool'}">Prize Pool</h4>
      <div class="pull-right">
        <th:block th:if="${pool.drawn == true and pool.moneyDrawResult != null}">
          <span class="money-draw-result">
            <span class="money-draw-winner" th:text="${pool.moneyDrawResult.user.displayName}">Morhyn.8032</span> won
            <span class="money-draw-coin" th:text="${pool.moneyDrawResult.amountWon}">3</span> <img th:src="@{/local/images/gold.png}" src="gold.png" />
            out of
          </span>
        </th:block>

        <th:block th:if="${pool.drawn == false}">
          <span class="money-draw-result hidden">
            <span class="money-draw-winner">Morhyn.8032</span> won
            <span class="money-draw-coin">3</span> <img th:src="@{/local/images/gold.png}" src="gold.png" />
            out of
          </span>
          <a class="btn btn-primary btn-xs money-draw-btn"
             sec:authorize="hasRole('ROLE_ADMIN')"
             th:classappend="${!drawing.inProgress} ? 'disabled hidden'">Draw</a>
        </th:block>

        <span th:text="${entriesTotal}" th:id="__${size}__PoolPot" class="pool-pot">0</span>
        <img th:src="@{/local/images/gold.png}" src="gold.png" />
      </div>
    </header>

    <div th:if="${pool == null}">
      <h4>No pool is defined. (add pool btn)</h4>
    </div>

    <table class="table table-striped" th:if="${pool != null}">
      <tbody>
        <th:block th:each="i: ${#numbers.sequence(1, 10)}">
        <!--/* Loop through each tier and each item in that tier */-->

          <tr class="prize-pool-tier-row" data:tier-id="${pool.tier__${i}__.id}" data:entrants="${#lists.size(pool.tier__${i}__.entries)}">
            <td sec:authorize="hasRole('ROLE_ADMIN')">
              <th:block th:if="${drawing.inProgress}">
                <a th:if="${#lists.size(pool.tier__${i}__.entries) != 0 and pool.tier__${i}__.isDrawn() == false}" class="btn btn-primary draw-btn">Draw</a>
                <a th:if="${#lists.size(pool.tier__${i}__.entries) != 0 and pool.tier__${i}__.isDrawn() == true}" class="btn btn-primary draw-btn disabled">Drawn</a>
              </th:block>

              <th:block th:if="${!drawing.inProgress}">
                <a class="btn btn-primary draw-btn disabled invisible">Draw</a>
                <!--/*
                  The draw button is added when the drawing is not in progress,
                  regardless of the number of entries, so that it will be present
                  when entries are added right before a drawing is started.
                */-->
              </th:block>

            </td>

            <td th:each="j: ${#numbers.sequence(1, 10)}" th:object="${pool.tier__${i}__}" data:position="${j}">
              <!--/* There's no item in the current position in this tier so put an add button */-->
              <div class="text-center"
                   sec:authorize="hasRole('ROLE_ADMIN')"
                   th:if="*{(item__${j}__ == null)  and __${!drawing.inProgress and drawing.ended == null}__}">
                <button class="btn btn-default btn-sm add-item-btn">
                  Add
                </button>
              </div>

              <!--/* Add the item to the row using the item template */-->
              <div th:if="*{item__${j}__ != null}">
                <div th:replace="fragments/item::fragment(*{item__${j}__})"></div>
              </div>
            </td>
          </tr>

          <!--/* Add a "winner" row if there is a drawing result associated with the tier */-->
          <tr th:if="${pool.tier__${i}__.prizeDrawResult != null}" class="success text-center winner-row">
            <td data:item-position="${pool.tier__${i}__.prizeDrawResult.itemDrawNumber}"
                th:colspan="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? 11 : 10}"
                style="padding-bottom: 0; padding-top: 0;">
              <small>
                Winner: <strong class="winner-name" th:text="${pool.tier__${i}__.prizeDrawResult.user.displayName}">Foo Bar</strong>
                &nbsp;&Lt;&Gt;&nbsp;
                Item: <a class="item-won-link"
                         target="_blank"
                         th:href="'http://www.gw2spidy.com/item/' + ${pool.tier__${i}__.item__${i}__.gameItem.id}"
                         th:text="${pool.tier__${i}__.item__${i}__.gameItem.name}"
                      >http://example.com/</a>
              </small>
            </td>
          </tr>

        </th:block>
      </tbody>
    </table>

    <script>
      $(function() {
        var $addItemModal = $("#addItemModal");

        $(".add-item-btn").on("click", function() {
          var $this = $(this),
              position = $this.closest("td").attr("data-position"),
              tierId = $this.closest("tr").attr("data-tier-id"),
              poolId = $this.closest(".prize-pool").attr("data-pool-id");

          $addItemModal.data({
            position: position,
            tierId: tierId,
            poolId: poolId
          }).modal({
            backdrop: "static",
            show: true
          });
        });

        // Highlight any won items
        $(".winner-row").each(function() {
          var $this = $(this),
              $prevRow = $this.prev(),
              $tds = $("td", $prevRow),
              cols = parseInt($this.find("td").attr("colspan"), 10),
              offset = (cols === 11) ? 0 : 1,
              wonItemPosition = $("td", $this).data("itemPosition") - (1 * offset);

          $($tds[wonItemPosition]).find(".gw-item-icon").addClass("tier-won-item");
        });
      });
    </script>
  </div>
</div>

</body>
</html>