<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title></title>
</head>
<body>

<div th:fragment="fragment (size, pool, entriesTotal)">
  <div class="prize-pool panel panel-default" data:pool-id="${pool} ? ${pool.id} : -1" th:classappend="${(size == 'small') ? 'small-pool' : 'large-pool'}">
    <header class="panel-heading clearfix">
      <h4 class="panel-title pull-left" th:text="${(size == 'small') ? 'Small Pool' : 'Large Pool'}">Prize Pool</h4>
      <div class="pull-right">
        <!--/* TODO: add interface for admin */-->
        <a class="btn btn-primary btn-xs hidden disabled money-draw-btn">Draw</a>
        <span th:text="${entriesTotal}" th:id="__${size}__PoolPot" class="pool-pot">0</span>
        <img th:src="@{/local/images/gold.png}" src="gold.png" />
      </div>
    </header>

    <div th:if="${pool == null}">
      <h4>No pool is defined. (add pool btn)</h4>
    </div>

    <table class="table" th:if="${pool != null}">
      <!--/* TODO: add detection for admin and drawing having been started */-->
      <tbody>
        <!--/* Loop through each tier and each item in that tier */-->
        <tr th:each="i: ${#numbers.sequence(1, 10)}" class="prize-pool-tier-row" data:tier-id="${pool.tier__${i}__.id}">
          <td>
            <!--/* TODO: admin only */-->
            <a class="btn btn-primary draw-btn disabled invisible">Draw</a>
          </td>

          <td th:each="j: ${#numbers.sequence(1, 10)}" th:object="${pool.tier__${i}__}" data:position="${j}">
            <!--/* There's no item in the current position in this tier so put an add button */-->
            <div th:if="*{item__${j}__ == null}" class="text-center">
              <button class="btn btn-default btn-sm add-item-btn">
                Add
              </button>
            </div>

            <!--/* Add the item to the row using the item template */-->
            <div th:if="*{item__${j}__ != null}">
              <div th:replace="fragments/item::fragment(*{item__${j}__})"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <script>
      $(function() {
        var $addItemModal = $("#addItemModal");

        $(".add-item-btn").on("click", function() {
          var $this = $(this),
              position = $this.closest("td").attr("data-position"),
              tierId = $this.closest("tr").attr("data-tier-id"),
              poolId = $this.closest(".prize-pool").attr("data-pool-id");

          $addItemModal.data({
            position: position,
            tierId: tierId,
            poolId: poolId
          }).modal({
            backdrop: "static",
            show: true
          });
        });
      });
    </script>
  </div>
</div>

</body>
</html>